* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*.App {*/
/*  text-align: center;*/
/*  font-family: Arial, sans-serif;*/
/*  width: 100vw;*/
/*  height: 100vh;*/
/*}*/


/*.content {*/
/*  display: grid;*/
/*  grid-template-columns: 1fr 1fr;*/
/*  padding: 20px;*/
/*  width: 100vw;*/
/*  height: 100%;*/
/*}*/

.App {

  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Контейнер занимает всю высоту экрана */
  min-width: 850px;
}

.content {
  flex: 1; /* Контент занимает оставшееся пространство между хедером и футером */
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  min-width: 850px;
}

.preview{
  display: flex;
  flex-direction: column;
}

.create {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50vw;
  width: 50vw;
}



